.n38 {
font-family:'Monospace';
font-size: 24px;
  .cell {
	height: 40px;
    width: 40px;
	font : 50px;
	text-align : center;
	padding: 10px 10px 10px 10px;
	border: none;
	border-radius: 50%;
	color : black;
	font-size: 20px;
  }
  .glowing
  {
	background-color : yellow;
	color: black;
  }
  .notright
  {
	background-color: red;
	color: black;
  }
  .normal {
	background-color : rgb(40,255,56);}
  .sumo
  {
	height: 40px;
    width: 40px;
	font : 50px;
	text-align : center;
	padding: 10px 10px 10px 10px;
	color : black;
	font-size: 20px;
  }
  .winning {color : green;}
  .notyet {}
  .right { color : white; background-color : green;}
  .wrong { color : white; background-color : red;}
  .restartbutt
  {
	font-size: 15px;
    color: red;
    background-color: yellow;
    cursor: pointer;
  }
  table 
  {
	border-collapse: collapse;
	}
	
}